.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
}

.infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.mail {
    margin-right: 5%;
    width: 100%;
    text-align: center;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    width: 100%;
}

.link{
    text-decoration: none;
}

.logo{
    height: 30px;
    margin: 4px;
    color : white;
}

.copyright{
    font-size: 12px;
    margin-bottom: 0;
    padding-top: 3%;
}

