/* .body { */
    /* color: white;
    background-color: #151d26;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top : 0px;
    left : 0px;
    z-index: 10;
    height: 10vh;
    width: 100vw; */
    /* margin: 0;
    padding: 0; */
  /* } */

  .container {
    background-color: #151d26;
    margin: 0;
    padding: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position : fixed;
    z-index: 100;
    width : 100vw;
  }
  
  .item {
    color : white;
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: blue;
    border-radius : 10px;
  }

  .items{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .bar {
    background-color: aqua;
    height: 10px;
  }



  