
  .container {
    background-color:  #f5f6fb;
    margin: 0;
    padding: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position : fixed;
    z-index: 100;
    width : 100vw;
  }

  .name {
    color : #414141;
    margin-left: 5%;
  }
  
  .item {
    color: #2F6DE5;
    margin-left: 2vw;
    margin-right: 0vw;
    text-decoration: none;
    width: 100px;
  }

  .item:hover{
    transform: scale(1.2);
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius : 10px;
    border: #2F6DE5 solid 2px;
  }

  .items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius : 10px;
    margin: 0px;
    height: 40px;
    /* width :100vw; */
  }

  .bar {
    background-color: #2F6DE5;
    height: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-right: 2px;
    /* border-radius : 0px 0px 10px 10px; */
    /* margin-right: 2px; */
  }

/* If the screen size is 901px wide or more */
@media screen and (min-width: 701px) {
  .container{
    font-size: 14px;
  }

  .menu{
    margin-right: 3vw;
    margin-left: 0px;
    width:45vw;
  }
}


@media screen and (max-width: 700px) {
  .name {
    display: none;
  }

  .container{
    font-size: 10px;
  }

  .menu{
    margin-right: 2vw;
    margin-left: 2vw;
    width: 370px
  }

  .item{
    /* margin-left: 2vw; */
    margin-right: 2px;
    width: 60px;
    display: flex;
    justify-content : center;
    /* padding-left: 5px;
    padding-right: 5px; */
  }

  .item:hover{
    transform: scale(1.2);
    color: blue;
  }

}


  