.main {
  overflow: scroll; 
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

.container{
  display: flex;
  flex-direction: column;
  background-color:white;
}


.headerImage {
  display: flex;
  height: 100vh;
}

@media screen and (min-width: 701px) {
  .headerImage {
    padding-top: 0px;
  }
}

@media screen and (max-width: 700px) {
  .headerImage {
    padding-top: 0px;
  }

}