.main {
  /* width: 100vw;
  height: 100vh; */
  /* display: grid; */
  /* grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr); */
  /* display: flex;
  flex-direction: column;
  background-color:white;*/
  overflow: scroll; 
  margin: 0px;
  padding: 0px;
  width: 99vw;
}

.container{
  display: flex;
  flex-direction: column;
  background-color:white;
}


.headerImage {
  /* grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 13; */
  display: flex;
  height: 100vh;
  padding-top: 80px;
}
