.image {
  opacity: 0.9;
}

.firstname{
    position: absolute;
    top: 25vh;
    left : 8vw;
    color: #d3d9f3;
    font-family: "Alata", sans-serif;
}

.name{
  position: absolute;
  top: 30vh;
  left : 12vw;
  color: #d3d9f3;
  font-family: "Alata", sans-serif;
}

.dev{
  position: absolute;
  top:50vh;
  left : 8vw;
  color: #d3d9f3;
}

.devWeb{
  position: absolute;
  top:55vh;
  left : 13vw;
  color: #d3d9f3;
}

.devJR{
  position: absolute;
  top:60vh;
  left : 16vw;
  color: #d3d9f3;
}

.frame{
  border: 4px solid #d3d9f3;
  border-radius: 5px;
  position: absolute;
  top:24vh;
  left : 5vw;
  height : 50vh;
}

.frameWelcome{
  border: 4px solid #d3d9f3;
  border-radius: 5px;
  position: absolute;
  top: 40vh;
  left : 50vw;
  height : 50vh;
  width : 40vw;
}

.links{
  position: absolute;
  top:42vh;
  left : 11vw;
  color: #d3d9f3;
}

.logo {
  color : #d3d9f3;
}

.welcome{
  position: absolute;
  top: 20vh;
  left : 5vw;
  color: white;
}

.picture {
  position: absolute;
  top: 40vh;
  left : 50vw;
  /* border: 4px solid #d3d9f3; */
  border-radius: 5px;
  height : 50vh;
  width : 40vw;
}


 /* If the screen size is 901px wide or more */
@media screen and (min-width: 951px) {
  .name {
    font-size: 20px;
  }
  .firstname {
    font-size: 20px;
  }
  .dev {
    font-size: 20px;
  }
  .devWeb {
    font-size: 20px;
  }
  .devJR {
    font-size: 20px;
  }
  .logo {
    height: 50px;
    margin: 10px;
    cursor: pointer;
  }
  .frame {
    width : 300px;
  }

  .welcome {
    font-size: 30px;
  }
}

/* If the screen size is 600px wide or less */
@media screen and (max-width: 950px) {
  .name {
    font-size: 14px;
  }
  .firstname {
    font-size: 14px;
  }
  .dev {
    font-size: 14px;
  }
  .devWeb {
    font-size: 14px;
  }
  .devJR {
    font-size: 14px;
  }
  .logo {
    height: 25px;
    margin: 5px;
  }
  .frame {
    width : 180px;
  }
  .welcome {
    font-size: 22px;
  }
}

.anim-enter {
  opacity: 0.01;
}

.anim-enter.anim-enter-active {
  opacity: 1;
  transition: opacity 5s ease-in;
}

.anim-leave {
  opacity: 1;
}

.anim-leave.anim-leave-active {
  opacity: 0.01;
  transition: opacity 3s ease-in;
}

