.container {
    color: white;
    display: flex;
    flex-direction: column;
    width : 100vw;
}

.explications {
    color: #414141;
    width : 90%
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}