.container {
    display: flex;
    flex-direction: column;
    width : 100vw;
    margin: 0px;
    padding: 0px;
}

.explications {
    width : 90%
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0px;
    margin : 0px;
}

/* If the screen size is 901px wide or more */
@media screen and (min-width: 801px) {
    .container{
        padding-left: 2vw;
    }
}


@media screen and (max-width: 800px) {
    .container{
        padding: 0px;
        width : 110vw;
    }

    .informations{
        margin-left: 2vw;
        padding-left: 4vw;
    }
}