.container{
    height: 400px;
    width : 40vw;
    position: relative;
    border-radius: 5px;
    border : solid 1px #414141;
    margin-left: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color:#f5f6fb;
   padding: 0.5%;
}

.image{
    z-index: 1;
    position: absolute;
}
