.container {
    color: white;
    background-color: red;
    display: flex;
    flex-direction: column;
    width : 100vw;
}

.explications {
    color: white;
    background-color: green;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}