.container{
    position: relative;
    border-radius: 5px;
    border : solid 1px #414141;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color:#f5f6fb;
}

.image{
    z-index: 1;
    position: absolute;
    border-radius: 5px;
}

/* If the screen size is 901px wide or more */
@media screen and (min-width: 801px) {
    .container{
        width : 40vw;
        height: 400px;
        margin-left: 4vw
    }
}


@media screen and (max-width: 800px) {
    .container{
        width : 90vw;
        margin-right: 9vw;
        height: 300px;
        margin-left: 10vw;
    }
}