.form {
    align-items: "center";
    border-radius : 10px;
    flex-shrink: 1;
    height: 30px;
    justify-content: "center";
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    font-size: 14;
    font-weight: "bold";
    background-color: #2F6DE5;
    display: inline-block;
  }
    
