.form {
    border-radius : 10px;
    flex-shrink: 1;
    justify-content: "center";
    padding-left: 10px;
    padding-right: 10px;
    background-color: #2F6DE5;
    display: inline-block;
    padding-top: 2px;
    align-items: "center";
    font-weight: "bold";
  }

/* If the screen size is 901px wide or more */
@media screen and (min-width: 951px) {
  .form{
    height: 30px;
    font-size: 14;
    margin: 5px;
    padding-top: 5px;
  }
}


@media screen and (max-width: 950px) {
  .form{
    height: 20px;
    font-size: 12;
    margin-left: 2px;
    margin-right: 2px;
  }
}
