.container{
    top: 1%;
    left : 1%;
    z-index: 2;
    color : white;
    background-color: #414141;
    position: absolute;
    opacity: 0.9;
    height: 98%;
    width: 98%;
    box-sizing: border-box;
    border-radius : 5px;
    margin: 0px;
}

.title {
    text-align:center;
    color: #2F6DE5;
}



.tagContainer {
    flex-wrap: wrap;
    align-items: center;
    padding-left: 2%;
    margin: 0px;
    height: 10%;
}

.trait{
    text-align:center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 0px;
    margin-right: 0px;
}
.trait:before {
    content:'';
    width:20%;
    border-bottom: white solid 1px;
    display:inline-block;
    vertical-align:middle;
    margin-right: 2%;
}

.trait:after {
    content:'';
    width:20%;
    border-bottom :white solid 1px;
    display:inline-block;
    vertical-align:middle;
    margin-left: 2%;
}

.link {
    color : white;
    text-decoration: none;
    font-size: 14;
}  

.link:hover{
    cursor: default;
}

.gitLink {
    color : white;
    text-decoration: none;
    font-size: 14;
}  

.gitLink:hover{
   transform: scale(1.5);
   color:blue;
}

.btn {
    background-color: #2F6DE5;
    color : white;
    border-radius: 5px;
    border-color:#2F6DE5;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    /* background-color: blue; */
    transform: scale(1.1);
    box-shadow: 2px 1px 10px #2F6DE5;
}

.linksContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
}

.gitContainer {
    margin-right: 2%;
    font-size: 12px;
}



/* If the screen size is 901px wide or more */
@media screen and (min-width: 951px) {
    .container {
        font-size: 14px;
        font-weight: "bold";
        padding-bottom: 1%;
    }

    .title {
        font-size: 2rem;
    }

    .message {
        font-size: 14px;
        padding-left: 2%;
    }

    .linkGit {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .btn {
        margin-left: 4%;
    }

    /* .tagContainer {
        font-size: 14px;
        font-weight: "bold";
    } */
}


@media screen and (max-width: 950px) {
    .container {
        font-size: 12px;
        font-weight: "bold";
        padding-bottom: 0px;
    }

    .title {
        margin : 0px;
    }

    .message {
        font-size: 12px;
        padding-left: 10px;
    }

    .linkGit {
        margin-top: 0px;
        margin-bottom: 5px;
        margin-left: 5px;
    }




    .btn {
        margin-left: 5px;
        margin-right: 5px;
        width: 100px;
        height: 40px;
    }

    /* .tagContainer {
        font-size: 12px;
        font-weight: "bold";
    } */
}
