.container{
    top: 1%;
    left : 1%;
    z-index: 2;
    color : white;
    background-color: aqua;
    position: absolute;
    opacity: 0.8;
    height: 98%;
    width: 98%;
    box-sizing: border-box;
}
  
.tagContainer {
    flex-wrap: wrap;
}

.trait{
    /* padding:1em 0; */
    text-align:center;
    /* overflow:hidden; */
}
.trait:before {
    content:'';
    width:3em;
    border-bottom:red solid;
    display:inline-block;
    vertical-align:middle;
    margin-right: 20px;
}

.trait:after {
    content:'';
    width:100px;
    border-bottom:red solid;
    display:inline-block;
    vertical-align:middle;
    margin-left: 20px;
}

.btn {
    background-color: #2F6DE5;
    color : white;
    border-radius: 5px;
    border-color:#2F6DE5;
}

